{% extends 'base.html.twig' %}

{% block title %} Авторизация {% endblock %}

{% block header %}Пожалуйста авторизуйтесь!{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-warning">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form method="post" class="border rounded bg-light p-3 shadow-sm">
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-primary" type="submit">Войти</button>
        <a href="{{ path('app_register') }}" class="btn btn-link">Зарегистрироваться</a>
    </form>
{% endblock %}
