{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block header %}Регистрация{% endblock %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <div class="alert alert-success">
         Вы зарегистрированы и успешно авторизованы.
        </div>

    {% else %}

        <form method="post" class="border rounded bg-light p-3 shadow-sm">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}

            <button class="btn btn-primary">Зарегистрироваться</button>
            {{ form_end(registrationForm) }}
        </form>

    {% endif %}

{% endblock %}
