{% extends 'base.html.twig' %}

{% block title %}Блог{% endblock %}

{% block header %}
    Добро пожаловать!
{% endblock %}

{% block body %}

    <div class="card-columns">

        {% for post in posts %}

            <div class="card bg-light">
                <div class="card-header">
                    {{ post.title }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ post.description }}</p>
                    <a href="{{ path('app_blog_detail', {'id': post.id}) }}" class="btn btn-outline-secondary btn-sm">Подробнее</a>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}
