{% extends 'base_admin.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Видимость</th>
            <th scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody>

            {% for post in posts %}
                <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td>{{ post.title }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{{ path('admin_favorite_switch', {'post': post.id}) }}"
                               class="btn btn-{% if post.favorite == 0 %}outline-{% endif %}warning">
                                Главная страница
                            </a>
                            <a href="{{ path('admin_limited_switch', {'post': post.id}) }}"
                               class="btn btn-{% if post.limited == 0 %}outline-{% endif %}secondary">
                                Авторизованные пользователи
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="{{ path('admin_post_delete', {'post': post.id}) }}" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    {% if pages > 1 %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link text-dark" href="{{ path('admin_blog', {'page': page - 1}) }}" tabindex="-1">&laquo;</a>
                    </li>
                {% endif %}

                {% for i in 1..pages %}

                    {% if page == i %}
                        <li class="page-item active">
                            <span class="page-link bg-success border-success">{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link text-dark" href="{{ path('admin_blog', {'page': i}) }}/">{{ i }}</a>
                        </li>
                    {% endif %}

                {% endfor %}

                {% if page < pages %}
                    <li class="page-item">
                        <a class="page-link text-dark" href="{{ path('admin_blog', {'page': page + 1}) }}">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}
