{% extends 'base_admin.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}

    <div class="alert alert-success">
        Вы находитесь в адмнистративном разделе.
    </div>

{% endblock %}
