{% extends 'base.html.twig' %}

{% block title %}{{ header }}{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block header %}
    {{ header }}
{% endblock %}

{% block body %}
    {% if result %}
        <div class="alert alert-success" role="alert">
            Ваше сообщение было добавлено.
        </div>
    {% else %}
        <div class="border rounded bg-light p-3 shadow-sm">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                <button class="btn btn-primary">Отправить</button>
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}
