{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block header %}
    {{ post.title }}
{% endblock %}

{% block body %}
    <div id="vk_api_transport"></div>
    <script type="text/javascript">
        window.vkAsyncInit = function() {
            VK.init({
                apiId: 6895938,
                onlyWidgets: true
            });

            VK.Widgets.Comments('vk_comments');
        };

        setTimeout(function() {
            var el = document.createElement("script");
            el.type = "text/javascript";
            el.src = "https://vk.com/js/api/openapi.js?160";
            el.async = true;
            document.getElementById("vk_api_transport").appendChild(el);
        }, 0);
    </script>


    <div class="card">
        <div class="card-header text-right text-muted">
            #{{ post.id }}
        </div>
        <div class="card-body">
            {{ post.description }}
        </div>
    </div>

    <div class="mt-3" id="vk_comments"></div>

{% endblock %}
