{% extends 'base.html.twig' %}

{% block title %}{{ header }}{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block body %}

    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-header d-flex flex-row">
                <div class="col-11 pl-0">
                    <h5 class="card-title mb-0">{{ post.title }}</h5>
                </div>
                <div class="col-1 pr-0 text-right text-muted">#{{ post.id }}</div>
            </div>
            <div class="card-body">
                <p class="card-text">{{ post.description }}</p>
                <div class="text-right">
                    <a href="{{ path('app_blog_detail', {'id': post.id}) }}" class="btn btn-outline-secondary btn-sm">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if pages > 1 %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link text-dark" href="{{ path('app_blog', {'page': page - 1}) }}" tabindex="-1">&laquo;</a>
                    </li>
                {% endif %}

                {% for i in 1..pages %}

                    {% if page == i %}
                        <li class="page-item active">
                            <span class="page-link bg-success border-success">{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link text-dark" href="{{ path('app_blog', {'page': i}) }}/">{{ i }}</a>
                        </li>
                    {% endif %}

                {% endfor %}

                {% if page < pages %}
                    <li class="page-item">
                        <a class="page-link text-dark" href="{{ path('app_blog', {'page': page + 1}) }}">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}
